.container_cv{
    position: relative;
    top:80px;
    
    width: 100%;
}
 .btn_cv {
    left:0px;
    position:absolute ; 
 }
 
 

.btn_cv button{
    width: 38px;
    height: 38px;
    border-radius: 20px;
    margin-left: 15px;
    color:#6eb6ff ;
    border:#6eb6ff solid 0.3px ;
    background-color: white;
    margin-top: 5px; 
 
}
.btn_cv button:hover{
    border-color: #bcd8f5 ;
    color: #bcd8f5
}
.CV_left{
    position: absolute;
    left: 100px;
    ;
}
.CV_form{
    left: 380px;
    position: absolute;
    border:#e9e7e7 0.1px solid ;
    width: 865px;
    height: 550px;
    box-shadow: #e4e3e3 0px 0px 5px 5px;
}
.CV_left p{
    margin-top: 80px;
    margin-left: 20px;
    font-size: 14px;
}
/* .CV_form button{
    margin-top: 25px;
    height: 220px;
    margin-left: 15px;
    margin-right: 10px;
    width: 400px;
    background-color: white;
    border: 3px #d4d3d3 dashed;
    border-radius: 5px;
    cursor: pointer; */
.CvEnglish p{
    color: red;
    
    font-size: 11px;
    margin-bottom:0px ;
    margin-left: 33px;
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 250px;
} 

.input_position p{
    color: red;
    margin-top: 118px;
    font-size: 11px;
    margin-left: 33px;

} 

.CvGerman p{
    color: red;
    
    font-size: 11px;
    padding-top: 250px;
    margin-left: 320px;
} 


.CvEnglish label{
    text-align: center;
    padding: 15px 40px 200px 40px;
    position: absolute;
    top: 30px; 
    cursor: pointer;
    border: #d4d3d3 dashed;
    left: 30px;
    font-size: 15px;
    color: #6e6e6e;
    }

.CvGerman label{
    padding: 15px 40px 200px 40px;
    cursor: pointer;
     position: absolute;
    top: 30px; 
    border:#d4d3d3 dashed;
left:440px; 
text-align: center; 
font-size: 15px;
    color: #6e6e6e;}
.text span{
    top:340px;
    color: #535252;
    font-size: 18px;
    position: absolute;
    left:340px;
}
 .input_position select{
     position: absolute;
    margin-left: 30px;
    height:45px;
    width:800px;
    border-radius: 5px;
    border: 0.2px solid #d4d3d3;
    margin-top: -5px;
    top:380px;
padding-left: 25px;
font-size: 15px; 
color:#8b8b8b} 
.input_position select:hover{
    border:black 0.4px solid;
}
.Cv_upload{
    display: flex;
    flex-direction: row;
}

 .Back_btn button {
    
    font-size: 13px;
  color: white;
  background-color:rgb(88, 88, 88);
  padding: 10px 75px 10px 75px;
  border:rgb(88, 88, 88) 0.2px solid ;
  border-radius: 8px;
  box-shadow: #e4e3e3 0px 0px 5px 5px; 
  
}
.Back_btn button:hover{
    background-color: white;
    border:rgb(88, 88, 88) 0.2px solid ;
    color: rgb(88, 88, 88);
}
.Back_btn{
    position: absolute;
    left:180px;
    top:485px;
}

.Next-btn{
    font-size: 13px;
  color: white;
  background-color:#6eb6ff ;
  padding: 10px 75px 10px 75px;
  border:#6eb6ff 0.2px solid ;
  border-radius: 8px;
  box-shadow: #e4e3e3 0px 0px 5px 5px; 
  position: absolute;
  right:200px;
  top:485px;
} 
.Next-btn:hover{
    background-color: white;
    border:#6eb6ff 0.2px solid ;
    color: #6eb6ff;
}
