.container_Information{
    position: relative;
    top:80px;
    
    width: 100%;
}
.btn_inf {
    left:0px;
    position:absolute ;

}
.btn_inf button:hover{
    border-color: #bcd8f5 ;
    color: #bcd8f5}
.btn_inf button{
    width: 38px;
    height: 38px;
    border-radius: 20px;
    margin-left: 15px;
    color:#6eb6ff ;
    border:#6eb6ff solid 0.3px ;
    background-color: white;
    margin-top: 5px;
}
.Information_left{
    position: absolute;
    left: 100px;
    
}
.Information_form{
    left: 380px;
    position: absolute;
    border:#e9e7e7 0.1px solid ;
    width: 880px;
    height: 480px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: #e4e3e3 0px 0px 5px 5px;
}
.Information_left p{
    margin-top: 80px;
    margin-left: 20px;
    font-size: 14px;
}
.Back_btn_inf button {
    
    font-size: 13px;
  color: white;
  background-color:rgb(88, 88, 88);
  padding: 10px 75px 10px 75px;
  border:rgb(88, 88, 88) 0.2px solid ;
  border-radius: 8px;
  box-shadow: #e4e3e3 0px 0px 5px 5px; 
  
}
.Back_btn_inf button:hover{
    background-color: white;
    border:rgb(88, 88, 88) 0.2px solid ;
    color: rgb(88, 88, 88);
}
.Back_btn_inf{
    position: absolute;
    left:520px;
    top:420px;
}

.Next-btn_inf{
    font-size: 13px;
  color: white;
  background-color:#6eb6ff ;
  padding: 10px 75px 10px 75px;
  border:#6eb6ff 0.2px solid ;
  border-radius: 8px;
  box-shadow: #e4e3e3 0px 0px 5px 5px; 
  position: absolute;
  right:250px;
  top:420px;
} 
.Next-btn_inf:hover{
    background-color: white;
    border:#6eb6ff 0.2px solid ;
    color: #6eb6ff;
}

/* .next-btn a{
    border-radius: 5px;
    background-color: #6eb6ff;
    padding: 9px 72px 9px 72px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border:#6eb6ff 0.2px solid ;
    margin-left: 550px;
}
.next-btn {
    margin-top: -18px;
}
.back_btn a{
    border-radius: 5px;
    background-color: #303131;
    padding: 9px 72px 9px 72px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border:#303131 0.2px solid ;
    margin-left: 150px;

}
.back_btn a:hover{
    background-color: white;
    color:#303131;
    
}
.next-btn a:hover{
    background-color: white;
    color:#6eb6ff;
}
.back_btn{
    margin-top: 25px;
    
}
.NextPage_btn{
 width: 100%;
 top:345px;
 position: absolute;
 left: 380px;

} */
.Information_form_left{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:30px;
    margin-top: 45px;

}
.Information_form_right{
    display: flex;
    flex-direction: column;
    left: 450px;
    position: absolute;
    margin-top: 45px;
}
.Information_form_left input{
    width:370px;
    height: 45px;
    margin-bottom: 40px;
    border: 0.2px solid #d4d3d3;
    padding-left: 25px;
    font-size: 15px;}
    .Information_form_left input:hover{
    border:black 0.4px solid;}
    .Information_form_left select:hover{
        border:black 0.4px solid;}
    .Information_form_left select{
        width:400px;
        height: 48px;
        margin-bottom: 40px;
        border: 0.2px solid #d4d3d3;
        padding-left: 25px;
        font-size: 15px;
        color: rgb(143, 143, 143);
}
.Information_form_right input{
    width:380px;
    height: 46px;
    margin-bottom: 38px;
    border: 0.2px solid #d4d3d3;
    padding-left: 25px;
font-size: 15px;
color: #4b4a4a;
}
.Information_form_right input:hover{
    border:black 0.4px solid;
}

.Information_form_left p{
    color: red;
    margin-top: -40px;
    font-size: 11px;
    padding-bottom: 20px;
    margin-left: 5px;

    margin-right: 200px;
    

}
.Information_form_right p{
    color: red;
    margin-top: -40px;
    font-size: 11px;
    padding-bottom: 20px;
    margin-left: 5px;

    margin-right: 200px;
    

}
.checkbox1 input{
    width:15px;
    height:15px;
}
.checkbox2 input{
    width:15px;
    height:15px;
}
.checkbox1 label{
cursor: pointer;
color:#727272;
margin-left: 5px;
}

.checkbox2 label{
cursor: pointer;
color:#727272;
margin-left: 5px;
}